# minimal distance between waypoints in the path
path_min_waypoint_distance: 0.1 # [m]

# check and fix the max deviation between the input path and the output trajectory
check_trajectory_deviation:
  enabled: true
  max_deviation: 0.1 # [m]
  max_iterations: 6 # [-]
  first_segment: true

# sampling dt of the output trajectory
sampling_dt: 0.01 # [s]

# add noise to the user-defined waypoints
# only for debugging
add_noise:
  enabled: false
  max: 0.30 # [m] # +max, -max of flat distribution

time_penalty: 100
soft_constraints_enabled: true
soft_constraints_weight: 1.5
time_allocation: 2 # method, 2 = Mellinger
equality_constraint_tolerance: 1.0e-3
inequality_constraint_tolerance: 0.1
max_iterations: 100
derivative_to_optimize: 0
